@model IEnumerable<MyEStore.Models.CartItem>

@{
	ViewData["Title"] = "Index";
}

<h1>Giỏ hàng</h1>

<div class="cart-table table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="pro-thumbnail">Thumbnail</th>
				<th class="pro-title">Product</th>
				<th class="pro-price">Price</th>
				<th class="pro-quantity">Quantity</th>
				<th class="pro-subtotal">Total</th>
				<th class="pro-remove">Remove</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<img src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHh" height="100" />
					</td>
					<td>@item.TenHh</td>
					<td>@item.DonGia</td>
					<td>
						<form asp-action="UpdateCart" asp-route-id="@item.MaHh">
							<input type="number" name="qty" value="@item.SoLuong" min="0" style="width:50px;" />
							<button class="btn btn-success">UPDATE</button>
						</form>
					</td>
					<td>@item.ThanhTien</td>
					<td>
						<a asp-action="RemoveCart" asp-route-id="@item.MaHh" class="btn btn-danger">Xóa</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<h5>Tổng tiền: @Model.Sum(p => p.ThanhTien).ToString("#,#00.00") $</h5>
	<!-- Set up a container element for the button -->
	<div style="width:150px" id="paypal-button-container"></div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=Ab19yiLjo-OURFWxPnaaXLiQAFjwnF-REmwxonfE8MX7ljjLN3CD5KfJ0MhYI8a0ivAHYcMXZJFR7eco"></script>
<script>
	paypal.Buttons({
	  style: {
		layout: 'horizontal',
		color:  'blue',
		shape:  'rect',
		label:  'paypal'
	  },
	  async createOrder() {
		const response = await fetch("/payment/create-paypal-order", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				"value": "@Model.Sum(p => p.ThanhTien)", //Lấy từ giỏ hàng của bạn (client)
				"currency_code": "USD"
			})
		});

		const order = await response.json();

		return order.id;
	},
	async onApprove(data) {
		// Capture the funds from the transaction.
		const response = await fetch(`/payment/capture-paypal-order?orderId=${data.orderID}`, {
					method: "POST"
				});

		const details = await response.json();

		// Show success message to buyer
		alert(`Transaction completed by ${details.payer.name.given_name}`);
		window.location.href = "/payment/PaymentSuccess";
	},
	onCancel(data) {
		// Show a cancel page, or return to cart
		window.location.assign("/your-cancel-page");
	}
	}).render('#paypal-button-container');
</script>
